* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   list-style: none;
   font-family: 'Roboto', sans-serif;
}

body {
   min-height: 100vh;
   display: grid;
   grid-template-columns: 16rem auto;
   grid-template-rows: auto 1fr;
}

.dashboard-logo .material-icons {
   font-size: 2rem;
   margin-right: 12px;
}

.dashboard-logo span {
   display: flex;
   align-items: flex-start;
}

.dashboard-logo h1 {
   display: flex;
   align-items: center;
   font-size: 1.5rem;
   font-weight: 700;
}

aside {
   grid-column: 1 / 2;
   grid-row: 1 / 3;
   background-color: black;
   color: white;
   padding: 2rem;
}

aside ul {
   margin-top: 3.5rem;
}

aside li {
   margin-bottom: 1.25rem;
}

aside .material-icons-outlined,
aside .material-icons {
   font-size: 1.75rem;
   margin-right: 1.25rem;
}

aside a {
   display: flex;
   align-items: center;
   color: white;
   text-decoration: none;
   font-size: 1rem;
   font-weight: 500;
}

header {
   /* debugging */
   padding: 1.5rem;
   border: 1px solid black;
   height: fit-content;
}

.top {
   display: flex;
   justify-content: space-between;
   margin-bottom: 1rem;
}

.bottom {
   display: flex;
   justify-content: space-between;
}

header .search-bar {
   display: flex;
   align-items: center;
   gap: 1rem;
   width: 60%;
}

header .user-account {
   display: flex;
   align-items: center;
}

header .user-name {
   font-weight: 700;
}

header .user-account .user-name {
   font-size: 1.25rem;
}

header .user-account .user-avatar {
   margin-left: 2rem;
   margin-right: 1rem;
}

header .user-profile {
   display: flex;
   align-items: center;
}

header .user-profile .user-name {
   font-size: 1.5rem;
}

header .user-profile span {
   font-size: 1rem;
}

header .button-group {
   display: flex;
   align-items: center;
   justify-self: flex-end;
   gap: 1rem;
}

header input[type="search"] {
   border: 1px solid black;
   border-radius: 5rem;
   height: 2.5rem;
   width: 100%;
}

header .user-avatar {
   flex-shrink: 0;
}

header .user-account .user-avatar {
   border-radius: 50%;
   background-color: black;
   height: 2.5rem;
   width: 2.5rem;
}

header .user-profile .user-avatar {
   margin-right: 1rem;
   border-radius: 50%;
   background-color: black;
   height: 75px;
   width: 75px;
}

header button {
   border: none;
   border-radius: 5rem;
   background-color: gray;
   color: black;
   height: 2.5rem;
   width: 6rem;
   font-weight: 700;
}

main {
   grid-column: 2 / -1;
   grid-row: 2 / 3;
   display: grid;
   grid-template-columns: auto 1fr;
   margin: 1rem;
}

.projects,
.trending,
.announcements,
.projects div,
.announcements div,
.trending {
   border: 1px solid black;
}

.projects {
   grid-row: 1 / 3;
}

.trending {
   grid-column: 2 / 3;
}

.projects .container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}