* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   list-style: none;
   font-family: 'Roboto', sans-serif;

   /* debugging */
   /* border: 1px solid black; */
}

body {
   min-height: 100vh;
   display: grid;
   grid-template-columns: 1fr 5fr;
}

.dashboard-logo .material-icons {
   font-size: 38px;
   margin-right: 12px;
}

.dashboard-logo span {
   display: flex;
   align-items: flex-start;
}

.dashboard-logo h1 {
   display: flex;
   align-items: center;
   font-size: 28px;
   font-weight: 700;
}

aside {
   grid-column: 1 / 2;
   grid-row: 1 / 3;
   background-color: black;
   color: white;
   padding: 2rem;
}

aside ul {
   margin-top: 3.5rem;
}

aside li {
   margin-bottom: 1.25rem;
}

aside .material-icons-outlined,
aside .material-icons {
   font-size: 1.75rem;
   margin-right: 1.25rem;
}

aside a {
   display: flex;
   align-items: center;
   color: white;
   text-decoration: none;
   font-size: 1rem;
   font-weight: 500;
}

header {
   grid-column: 2 / -1;
}

main {
   grid-column: 2 / -1;
   grid-row: 2 / 3;
}